#top .top-nav{
    display:flex;
    height:41px;
}

#top .top-list ul>span{
    display: block;
    width: 164px;
    height: 40px;
    background-color: purple;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    border-bottom:1px solid #ff5160;
    text-align: center;
    background: linear-gradient(90deg,red,#ff3264); 
}

#top .top-list ul li{
    width: 164px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    border-bottom:1px solid #ff5160;
    text-align: center;
    background: linear-gradient(90deg,red,#ff3264); 
}

#top .top-row a{
    font-size: 15px;
    font-weight: 700;
    margin-left: 35px;
    height: 40px;
    line-height: 40px;
}

#top .top-row a:hover{
    color: #ff1e32;
}

#top .top-list ul li {
    display: block;
    display: flex;
    justify-content: space-evenly;
}

#top .top-list ul li:hover{
    background: #fff;
    color: #ff1e32;
}

#top .top-list ul li a .active{
    display: none;
}

#top .top-list ul li:hover .active{
    display: inline-block;
}

#top .top-list ul li:hover img{
    display: none;
}

#top .top-banner{
    z-index: -1;
    background: url('../img/banner.jpg') center;
    margin-top: 3px;
    height: 447px;
}

#top .top-banner .banner-btn{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    left:174px;
    right: 0;
    position: absolute;
    width: 926px;
    height: 42px;
    top: 50%;
    transform:translate(0,-50%);
    margin:0 auto;
}

#top .top-banner .banner-btn .btn-left,
#top .top-banner .banner-btn .btn-right{
    height: 42px;
    width: 30px;
    background-color: rgba(131, 121, 121, 0.5);
    display: none;
}

#top .top-banner:hover .btn-left,
#top .top-banner:hover .btn-right{
    display: block;
}




#top{
    position: relative;
}
#top .top-service{
    position: relative;
}

#top .top-service::after{
    content: '';
    position: absolute;
    height: 45px;
    width: 100%;
    bottom:0px;
    z-index: -1;
    background-color: rgba(0,0,0,.8);
    background: url(../img/banner.jpg)  center 28px;
    filter: blur(2px);
}



#top .top-service .wrap{
    height: 45px;
    display: flex;
    line-height: 45px;
    justify-content: space-between;
}

#top .top-service .left{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

#top .top-service .left a{
    color: #fff;
    margin-left: 8px;
}

#top .top-service .left a i{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
}
#top .top-service .right a{
    color: #fff;
    margin-left: 8px;
}

#top .top-service .right a:hover{
    text-decoration: underline;
}

#top .top-service .right a::before{
    position: relative;
    top: 5px;
    left: 3px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icon-service-right-iphone.png);
}